{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Voortoetsing (t.b.v. subsidieaanvraag)" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Voortoetsing (t.b.v. subsidieaanvraag)" %}</h2>
            <p>
                {% blocktrans %}

                    Omdat de toetsing marginaal en de aanvraagdeadline waarschijnlijk dichtbij is zal ETC-SACB in dit
                    geval per email-overleg naar een snelle beslissing streven (binnen 1-2 weken). Let op:
                    subsidieaanvragers dienen deze tijdsspanne mee te nemen in hun tijdsplanning!

                    Deze marginale toetsing vervangt niet de reguliere toetsing van specifieke studies; wanneer het
                    onderzoek gefinancierd wordt en de details zijn uitgewerkt, dient de studie alsnog ter toetsing bij
                    ETC-SACB te worden aangemeld.
                    Het invullen van de portalvragen kost hooguit 5 minuten. U moet een document uploaden. Dit document
                    moet uit de subsidieaanvraag alle voor ETC-SACB relevante informatie bevatten om het project te
                    kunnen beoordelen. Dat betekent dat in ieder geval een duidelijke samenvatting gegeven moet worden.


                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    Omdat de toetsing marginaal en de aanvraagdeadline waarschijnlijk dichtbij is zal ETC-SACB in dit
                    geval per email-overleg naar een snelle beslissing streven (<strong>binnen 1-2 weken</strong>).
                    Omdat de toetsing marginaal en de aanvraagdeadline waarschijnlijk dichtbij is zal ETC-SACB in dit
                    geval per email-overleg naar een snelle beslissing streven
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    Deze marginale toetsing vervangt niet de reguliere toetsing van specifieke studies; wanneer het
                    onderzoek gefinancierd wordt en de details zijn uitgewerkt, dient de studie alsnog ter toetsing bij
                    ETC-SACB te worden aangemeld.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    Het invullen van de portalvragen kost hooguit 5 minuten. U moet een document uploaden. Dit document
                    moet uit de subsidieaanvraag alle voor ETC-SACB relevante informatie bevatten om het project te
                    kunnen beoordelen. Dat betekent dat in ieder geval een duidelijke samenvatting gegeven moet worden.
                {% endblocktrans %}
            </p>
            <a class="button button-colored float-right mb-3" href="{% url 'proposals:create_pre' %}">
                {% trans "Volgende stap >>" %}
            </a>
        </div>
    </div>
{% endblock %}
